.number-view-bar{
    width:10px;
    margin-left: 4px;
}

.number-view-bar > .top {
    width:100%;
}
.number-view-bar > .bottom{
    width:100%;
    background: blue;
}
.number-view-bar > .highlight{
    background: #051f96;
}