.algo-select-btn{
    height:40px;
    background-color: #fbfbfb;
    font-size: 16px;
    margin-right: 14px;
    border-radius: 7px;
}

.selected{
    background-color: #ffece6 !important;
}

.algo-select-holder{
    margin-top: 20px;
    margin-bottom: 20px;
}

.playpause-btn{
    border: 0px;
    font-size: 24px;
}